<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Mafia</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crime">Crime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/missions">Missions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel">Travel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bank">Bank</a>
            </li>
            
            {{!-- Check if user is admin --}}
            {{#if user.admin}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log out</a>
                </li>
            {{else}} 
                {{!-- If user isn't logged in --}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            {{/if}}
        </ul>
        <span id="nav-user">
        {{#if user}}
            <p class="nav-item">Name: {{user.username}}</p>
            <p class="nav-item">Money: <span id="nav-money">{{user.money}}</span></p>
            <p class="nav-item">Level: {{user.level}}</p>
            <p class="nav-item">City: <span id="nav-city">{{user._city}}</span></p>
        {{/if}}
        </span>
    </div>
</nav>