<!DOCTYPE html>
<html>
  <head>
    <title>Mafia</title>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> --}}
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script>
    {{#if user}}
      let userObject = {{{json user}}};
    {{else}}
      let userObject = {};
    {{/if}}
    function updateUserNavbar(){
      document.getElementById("nav-city").innerHTML = userObject._city;
      document.getElementById("nav-money").innerHTML = userObject.money;
      console.log(userObject);
    };
  </script>
  <body>
    {{> navbar}}
    <div class="row">
      <div class="col-sm-10">
        {{{body}}}
      </div>
      {{#if user}}
      <div class="col-sm-2">
        <h2>{{user.username}}</h2>
        <p><b>Money:</b> {{user.money}}</p>
        <p><b>Level:</b> {{user.level}}</p>
        <p><b>City:</b> {{user._city}}</p>
        <p><b>Weapon:</b> {{#if user._equipped.weapon}}<img src="/api/image/{{user._equipped.wepon._image._id}}">{{/if}}</p>
        <p><b>Attackpoints:</b> {{user.attackPoints}}</p>
        <p><b>Armor:</b> {{#if user._equipped.armor}}<img src="/api/image/{{user._equipped.armor._image._id}}">{{/if}}</p>
        <p><b>Car:</b> {{#if user._equipped.car}}<img src="/api/image/{{user._equipped.car._image._id}}">{{/if}}</p>
        <p><b>Defencepoints:</b> {{user.defencePoints}}</p>

      </div>
      {{/if}}
    </div>
  </body>
  
</html>
