<h1>Your cars in {{user._city}}</h1>

<table id="userCarList">
    <thhead>
        <th>Name</th>
        <th>Price</th>
        <th>Defence</th>
        <th>Seats</th>
        <th>Cargo</th>
        <th>Speed</th>
        <th>Level</th>
    </thhead>
    <tbody>
        {{#if user.equipped.car}}
            <tr>
                <td><h4>Equipped:</h4></td>
            </tr>
            <tr>
                <td>{{user.equipped.car.name}}</td>
                <td>{{user.equipped.car.price}}</td>
                <td>{{user.equipped.car.defence}}</td>
                <td>{{user.equipped.car.seats}}</td>
                <td>{{user.equipped.car.cargo}}</td>
                <td>{{user.equipped.car.speed}}</td>
                <td>{{user.equipped.car.level}}</td>
                <td><img src="/api/image/{{user.equipped.car._image._id}}"></td>
            </tr>
        {{/if}}
            <tr>
                <td><h4>Inventory:</h4></td>
            </tr>
        {{#each user.inventory.cars}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.defence}}</td>
                <td>{{this.seats}}</td>
                <td>{{this.cargo}}</td>
                <td>{{this.speed}}</td>
                <td>{{this.level}}</td>
                <td><img src="/api/image/{{this._image._id}}"></td>
                <td><button type="button" class="btn btn-outline-secondary btn-sm" data-carid="{{this._id}}">Equip</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script>
    document.getElementById('userCarList').addEventListener('click', function (evt) {
        evt.stopPropagation();
        let carid = evt.target.dataset.carid;
        request('POST', '/player/'+userObject.username+'/inventory/'+'car'+'/'+carid+'/equip', null, function(res){
            let responseData = JSON.parse(res.responseText);
            if(responseData.success){
                console.log(responseData);
            }
        });
    });
</script>