
<table id="users">
    <tbody>
        <ul class="profile">
            <li>Username: {{user.username}}</li>
            <li>Level: {{user.level}}</li>
            <li>HP: {{user.hp}}</li>
            <li>Weapons:    
                {{#each user._inventory._weapons}}
                    {{this.name}}
                {{/each}}
            </li>
            <li>City:  {{user._city}}</li>
            <li>Money:  {{user.money}}</li>
        </ul>
    </tbody>
</table>


