
<h1 align="center">Weapon and Armor Store</h1>
<table class="weapandarm" id="weaponlist" align="center">
    <h2 align="center">Weapons</h2>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Damage</th>
        <th>Level</th>

    </thead>
    <tbody>
        {{#each weapons}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.damage}}</td>
                <td>{{this.level}}</td>
                <td><button type="button" class="btn btn-outline-secondary btn-sm" data-weaponid="{{this._id}}">Buy</button></td>
            </tr>
        {{/each}}
    </tbody>

<span id="BuyResponseBox"></span>

<script>
    document.getElementById("weaponlist").addEventListener("click",function(e){
        e.stopPropagation();
        let weaponid = e.target.dataset.weaponid;
        if(weaponid) {
            var xhr = new XMLHttpRequest();

            xhr.addEventListener("readystatechange", function () {
                if(this.readyState === 4) {
                    let res = JSON.parse(this.responseText);
                    let BuyResponseBox = document.getElementById("BuyResponseBox");
                    BuyResponseBox.innerHTML = res.msg;
                }
            });

            xhr.open("POST","/api/weapon/"+weaponid+"/purchase");
            xhr.send();
        }
        });
</script>

<table class="weapandarm" id="armorlist" align="center">
    <h2 align="center">Armor</h2>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Defence</th>
        <th>Level</th>
    </thead>
    <tbody>
        {{#each armors}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.defence}}</td>
            <td>{{this.level}}</td>
            <td><td><button type="button" class="btn btn-outline-secondary btn-sm" data-armorid="{{this._id}}">Buy</button></td></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<span id="BuyResponseArmor"></span>

<script>
    document.getElementById("armorlist").addEventListener("click",function(e) {
        e.stopPropagation();
        let armorid = e.target.dataset.armorid;
        console.log(e)
        console.log(armorid)
        if(armorid) {
            var xhr = new XMLHttpRequest();

            xhr.addEventListener("readystatechange",function() {
                if(this.readyState === 4) {
                    let res = JSON.parse(this.responseText);
                    let BuyResponseArmour = document.getElementById("BuyResponseArmor");
                    console.log(BuyResponseArmor)
                    BuyResponseArmor.innerHTML = res.msg;
                    console.log(res.msg)
                }
            });
            xhr.open("POST","/api/armor/"+armorid+"/purchase");
            xhr.send();
        }
    });
</script>